<launch>

  <arg name="KINECT" default="1" />
  <arg name="KIN_LOC" default="1" />
  <arg name="LASER" default="0" />
  <arg name="EKF" default="true" />
  <arg name="RVIZ" default="all" />  <!-- values: "all" (default), "laser", "kinect", "kinect_loc" -->

  <!-- launch onboard nodes and teleoperation -->
  <include file="$(find higgs_navigation)/launch/higgs_rover.launch" >
    <arg name="KIN" value="$(arg KINECT)" />
    <arg name="KL" value="$(arg KIN_LOC)" />
    <arg name="LAS" value="$(arg LASER)" />
    <arg name="ODOM_EKF" value="$(arg EKF)" />
  </include> 
    
  
  <!-- navigation nodes -->
  <include file="$(find higgs_navigation)/launch/higgs_nav_sys.launch" >
    <arg name="KIN" value="$(arg KINECT)" />
    <arg name="KL" value="$(arg KIN_LOC)" />
    <arg name="ODOM_EKF" value="$(arg EKF)" />
  </include>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find higgs_navigation)/map/sala_calculo_new.pgm 0.05" />
  
  

  <!-- rviz configured depending on RVIZ argument -->
  <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find higgs_navigation)/config_rviz/$(arg RVIZ).vcg" >
    <remap from="/goal" to="/move_base_simple/goal" />
  </node>
	
</launch>

