<launch>
  <machine name="higgs" address="higgs" env-loader="/opt/ros/fuerte/env.sh" />
  
	 <node name="higgs_arduino" pkg="higgs_arduino_corba_ros" type="higgs_arduino" output="screen" machine="higgs" >
	 	<remap from="higgs_arduino/Imu" to="higgs_arduino/output_Imu"/>
	 </node>
	 <param name="/higgs_arduino/loop_rate_hz" value="10"/>
</launch>
