<launch>

  <!-- parameter for this launch file -->
  <arg name="KIN" /> <!-- if 1 kinect active -->
  <arg name="KL" /> <!-- if 1 kinect active -->
  <arg name="LAS" /> <!-- if 1 laser active -->
  <arg name="ODOM_EKF" default="false" />
  <arg name="KINECT" value="$(arg KIN)"/>
  <arg name="KIN_LOC" value="$(arg KL)"/>
  <arg name="LASER" value="$(arg LAS)"/>
  <arg name="EKF" value="$(arg ODOM_EKF)"/>

  <include file="$(find higgs_navigation)/launch/aslab_machines.xml"/>
     
  <!-- robot nodes -->
  	<!-- ROBOT -->
  	<param if="$(arg EKF)" name="pioneer/tf_odom_broadcast" value="false" />
    <param if="$(arg EKF)" name="pioneer/odom_frame" value="odom_combined" />
    <param name="pioneer/sonar" value="false" />
    <include file="$(find pioneer_aria)/launch/pioneer.launch"/>

 
    <!-- COMPASS -->
    <node if="$(arg EKF)" name="higgs_arduino" pkg="higgs_arduino_corba_ros" type="higgs_arduino" output="screen" machine="higgs">
	 	<remap from="higgs_arduino/Imu" to="higgs_arduino/output_Imu"/>
	 	<param name="loop_rate_hz" value="10"/>
	</node>   
    <!-- EKF filter for better odometry -->
    <include if="$(arg EKF)" file="$(find higgs_ekf)/launch/pose_ekf.launch"/>
    
    <node pkg="higgs_setup_tf" name="tf_robot_geometry" type="higgs_tf_broadcaster" machine="higgs" />
    
    <!-- LASER -->
    <include  if="$(arg LASER)" file="$(find higgs_laser)/launch/laser.launch"/>

	<!-- KINECT -->
    <include if="$(arg KINECT)" file="$(find higgs_kinect)/launch/kinect_full.launch"/>      
	<!-- kinect perception -->
	<include if="$(arg KINECT)" file="$(find higgs_kinect)/launch/cloudthrottle.launch"/>
    <include if="$(arg KINECT)" file="$(find higgs_kinect)/launch/kinect_obstacles.launch"/>
    <include if="$(arg KIN_LOC)" file="$(find higgs_kinect)/launch/kinect_references.launch"/>
    <!-- -->
    		
  <!--  -->
  

  <!-- To teleoperate the robot -->
  <node name="teleop_keyboard" pkg="teleop_base" type="teleop_base_keyboard" output="screen" >
    <remap from="base_controller/command" to="pioneer/cmd_vel" />	
  </node>
  
  <include file="$(find higgs_wiimote)/launch/higgs_wii.launch"/>
	
</launch>

