<launch>

  <machine name="higgs" address="higgs2" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" user="root" password="ramadosmiltres"  default="false"/>

  <machine name="desktop" address="arturo-desktop" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" user="admin" password="ramadosmiltres" default="false" />

   

  <group ns="robot">
		    
    <node pkg="ROSARIA" name="pioneer2AT8" type="RosAria" machine="higgs" /> 

    <node pkg="higgs_setup_tf" name="higgs_tf_broadcaster" type="higgs_tf_broadcaster" machine="higgs" />

      <param name="sicklms/port" value="/dev/ttyUSB1" />
      <param name="sicklms/baud" value="38400" />
    <node name="sicklms" pkg="sicktoolbox_wrapper" type="sicklms" machine="higgs" />

  </group> 


 <include file="$(find higgs_navigation)/navigation_config/move_base_global.xml"/>

 <node name="map_server" pkg="map_server" type="map_server" args="$(find higgs_navigation)/map/sala_completa.pgm 0.05" machine="desktop" />

 
  <!-- To teleoperate the robot -->
  <node name="teleop_base_keyboard" pkg="teleop_base" type="teleop_base_keyboard" output="screen" machine="higgs">
    <remap from="base_controller/command" to="robot/pioneer2AT8/cmd_vel" />	
  </node>

  <include file="$(find higgs_navigation)/navigation_global/amcl_node.xml"/> 


  <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find higgs_navigation)/navigation_global/higgs_nav.vcg" machine="desktop">
    <remap from="/goal" to="/move_base_simple/goal" />
  </node>
	
</launch>
