<launch>
  <param name="/use_sim_time" value="true"/>
  
  <node pkg="stage" type="stageros" name="stageros" args="$(find aslab_stage_erratic)/stage_files/willow-higgs.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  
  <!-- To teleoperate the robot -->
  <node name="teleop_base_keyboard" pkg="teleop_base" type="teleop_base_keyboard" output="screen">
    <remap from="base_controller/command" to="cmd_vel" />
  </node>
    
  <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find erratic_stage_2dnav)/various/stage.vcg" output="screen">
    <remap from="/goal" to="/move_base_simple/goal" />
  </node>
  
   
</launch>